body {
    background-color: #FFFFFF;
    font-family: consolas;
}

div {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
p{
    font-family: consolas;
    text-align: center;

}
.input {
    width: 100%;
    padding: 10px;
    border: 5px #03A9F4 ;

    color: #03A9F4;
}

h1 {
    font-family: "arial black";
    font-size: 3em;
    color: #1abc9c;
    line-height: 10%
}
    h4{
    font-family: "arial black";
    color: #95a5a6;
    text-align: center;
    line-height: 10%;
}

.mytext {

    font-family: consolas;
    display: block;
    height: 6ex;
    width: 75%;
    margin: 0 auto;
    font-size: 3ex;
    text-align: center;
}

.makenice {
    text-align: center;

}
#between{
    color: #1abc9c;
    line-height: 0%;
    font-family: consolas;

}

#boxx {
    border-style: none;
    font-family: monospace;
    height: 2.5em;
    width: 6em;
    font-size: 1.5em;
    color: white;
    background-color: #e74c3c;
}

/* unvisited link */
a:link {
    color: #3498db;
}

/* visited link */
a:visited {
    color: #34495e;
}

/* mouse over link */
a:hover {
    color: #2ecc71;
}

/* selected link */
a:active {
    color: #9b59b6;
}

ul
{
    position:fixed;bottom:0;

    width:100%;
    display:block;
    list-style-type: none;

}
li {
    display: inline;
}
smaller {
    line-height: 40%
}
