<!DOCTYPE HTML>
<html>
<head>
        <base target="_blank">
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <title>I'm sorry :(</title>


</head>
<body>
  <div>
        <h1>&Epsilon;-&Delta;</h1>
        <p id="between">(epsilon-delta)</p>
        <h4>A PROOF GENERATOR</h4>
    <br>
    </div>
    
    <p>
  I'm sorry, we cannot handle your input of {% request.form['fx'] %}.
  Currently, this &epsilon;-&delta; proof generator can only handle
  any nx&plusmn;c and nx^m&plusmn;c, where n, c, m &isin; &#8469;
Coming soon are higher degree polynomials and trig function proofs
        :)
</p>
    
<div>
        <ul>
            <li>
                <a href="https://twitter.com/isthisnagee"><li><i class="fa fa-twitter"></i></li></a>
            </li>
            <li>
                Made with <a href="http://thenicestplaceontheinter.net/"><img src="../static/css/images/heart.png"></a> by Nagee Elghassein 
            </li>
            <li>
                <a href="https://github.com/isthisnagee"><i class="fa fa-github-alt"></i></a>
            </li>
        </ul>
    </div>


</body>
</html>
