<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="../static/css/style.css">
  <title>&epsilon;-&delta; proofs</title>


</head>

<body>
<div>
 <p id="intro">This is &epsilon;-&delta;, a proof generator.</p>
 </div> 
      <form action="/answer" method="POST">
    <div class="input">      
        <input onClick="this.setSelectionRange(0, this.value.length)"type="text"
            name="limit" placeholder="Enter a number that x goes to"
            class="mytext">
        <br>
        <input onClick="this.setSelectionRange(0, this.value.length)"
            type="text" name="fx" placeholder="Enter an equation in terms of x"
            class="mytext"><br>
        </div>
        <input  type="submit" value="Submit!" class="makenice"/>
      </form>
  
</body>

</html>
