<!DOCTYPE HTML>
<html>

<head>
<base target="_blank">
      <link rel="stylesheet" href="../static/css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <title>&epsilon;-&delta; proofs</title>


</head>

<body>
    <div>
        <h1>&Epsilon;-&Delta;</h1>
        <p id="between">(epsilon-delta)</p>
        <h4>A PROOF GENERATOR</h4>
    <br>
        
    <p>If you are not familiar with mathematical logic and its notation,  or mathematical proofs, click <a href="http://www.math.toronto.edu/tholden/LectureNotes137_Preview.pdf" target="_blank">here!</a> </p>
    <p>Read <strong>Chapter 1</strong> to get used to the notation and general logic, and how to write a proof. Read <strong>Chapter 2</strong> for limits and &epsilon;-&delta; proofs.
    </div>
    
    <form action="/answer" method="POST">
        <div class="input">      
            <input onClick="this.setSelectionRange(0, this.value.length)"type="text"
            name="limit" placeholder="x goes to what number?"
            class="mytext">
                <br>
            <input onClick="this.setSelectionRange(0, this.value.length)"
            type="text" name="fx" placeholder="Enter an equation in terms of x"
            class="mytext"><br>
        </div>
        
        <div class="makenice">
            <input  type="submit" value="Prove!" id="boxx"/>
        </div>  
    </form>
    <div>
        <ul>
            <li>
                <a href="https://twitter.com/isthisnagee"><li><i class="fa fa-twitter"></i></li></a>
            </li>
            <li>
                Made with <a href="http://thenicestplaceontheinter.net/"><img src="../static/css/images/heart.png"></a> by Nagee Elghassein 
            </li>
            <li>
                <a href="https://github.com/isthisnagee"><i class="fa fa-github-alt"></i></a>
            </li>
        </ul>
    </div>
</body>

</html>
